<div align="center">
  <h1>{{ meta.name }}</h1>
  <img src="{{ meta.media.url }}/screenshot.png" />
  <br>
  <br>
  <p>{{ description }}</p>
  <a href="{{ meta.releases.url }}/latest">
    <img alt="Version {{ version }}" src="https://img.shields.io/badge/version-{{ version }}-red.svg?cacheSeconds=2592000&style=flat-square" />
  </a>
  <a href="{{ meta.license.url }}" target="\_blank">
    <img alt="Licensed under the {{ meta.license.name }}" src="https://img.shields.io/github/license/{{ meta.owner }}/{{ name }}?style=flat-square" />
  <a href=https://buymeacoffee.com/paysonwallach>
    <img src=https://img.shields.io/badge/donate-Buy%20me%20a%20coffe-yellow?style=flat-square>
  </a>
  <br>
  <br>
</div>

[{{ meta.name }}]({{ repository.url }}) is a rewrite of [You Should Use](https://github.com/MichaelAquilina/zsh-you-should-use) for [fish](https://fishshell.com/).

## Installation

Using [`fisher`](https://github.com/jorgebucaran/fisher):

```shell
fisher install {{ meta.owner }}/{{ name }}
```

## Usage

Simply install and get back to whatever you were doing before! [{{ meta.name }}]({{ repository.url }}) will let you know when you've typed out a command that exists as an alias.

## Configuration

By default, [{{ meta.name }}]({{ repository.url }}) will display its reminder message after a command has executed. However, you can choose to display the mesasge before execution by setting `YSU__MESSAGE_POSITION` like so:

```fish
set YSU__MESSAGE_POSITION "before"
```

## Contributing

Feel free to take a look at [TODO.md]({{ meta.todo.url }}), otherwise pull requests are welcome! For major changes, please open an issue first to discuss what you would like to change.

## License

[{{ meta.name }}]({{ repository.url }}) is licensed under the [{{ meta.license.name }}]({{ meta.license.url }}).
